@charset "utf-8";

/*
   Stylesheet for my portfolio website (PUBLIC.HTML)
   Author: Aiden Eyre
   Date:   04 Oct 2020

   Filename:    styles.css

*/

html {
   /* overflow-x: hidden; */
}

body {
   width: 100%;
}

/* Header Styles */

header {
   background-color: rgba(128, 128, 128, 0.493);
}

header img {
   width: 25vh;
   border-radius: 50%;
}

header div {
   display: block;
   text-align: center;
   margin: 0 auto;
}


/* Main Styles */

main {
   height: 100vh;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto 1fr;
   grid-template-areas: "nav nav contact"
              "body body contact";
}

.navBlock {
   grid-area: nav;
}

.bodyBlock {
   grid-area: body;
}

.contactBlock {
   grid-area: contact;
}


 /* Navigation Styles */

.navBlock {
   width: 100%;
}

.navBlock button {
   display: inline-flex;
   float: left;
   width: 33.333%;
}

/* Contact Styles */

.contactBlock {
   margin: 0 0.5em;
   border: 0.5em solid black;
}
