@charset "utf-8";

/*
   Stylesheet for my portfolio website (PUBLIC.HTML)
   Author: Aiden Eyre
   Date:   04 Oct 2020

   Filename:    styles.css

*/

body {
   width: 100%;
}

/* Header Styles */

header {
   background-color: rgba(128, 128, 128, 0.493);
}

header img {
   width: 25vh;
   border-radius: 50%;
}

div {
   display: block;
   text-align: center;
   margin: 0 auto;
}

/* Main Styles */

main {
   height: 100vh;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: "nav nav contact"
              "body body contact";
}

.navBlock {
   grid-area: nav;
}

.bodyBlock {
   grid-area: body;
}

.contactBlock {
   grid-area: contact;
}
