@charset "utf-8";

/*
   Stylesheet for my portfolio website (PUBLIC.HTML)
   Author: Aiden Eyre
   Date:   04 Oct 2020

   Filename:    styles.css

*/

/* HTML and Body Styles */

html {
   /* This fixed the problem where the page would load slightly left. */
   max-width: 100%;
   height: 100%;
   overflow-x: hidden;
   background-image: linear-gradient(rgb(129, 129, 129), rgb(202, 202, 202));
}

body {
   width: 80%;
   margin: 0 auto;
}

@media (max-width: 1000px) {

   body {
      width: 100%;
   }

   header h1 {
      font-size: 2em;
   }
}

/* Header Styles */

header {
   border-bottom: 2px solid yellow;
}

header img {
   width: 10em;
   border-radius: 50%;
   margin-top: 1%;
}

header h1 {
   margin: 0.5% auto;
   font-size: 2em;
   color:white;
}

header div {

   display: block;
   text-align: center;
   margin: 0 auto;
}


 /* Navigation Styles */

.navBlock {
   width: 100%;
   text-align: center;
}

.navBlock h2 {
   border-style: none;
   display: inline-block;
   width: 15%;
   margin: 2%;
   text-align: center;
   color: white;
   font-size: 1.2em;
}

.navBlock h2:hover {
   cursor: no-drop;
}


/* Information Style */

.bodyBlock>div {
   display: flex;
   clear: both;
}


#projectSection,
#resumeSection,
#contactMeSection {
  display: none;
}
